<!DOCTYPE html>
<html data-ng-app="MyApp">
<head>
	<title>AngularJS-Directive-Isolated-Scope(1 way)</title>
</head>
<body>
	<div data-ng-controller="Mycntrl">
		<div>
			<span>Controller : </span>
			<input type="text" data-ng-model="name"/>
			<span data-ng-bind="name"></span>
		</div>
		<hr/>
		<div data-igate-directive data-name="{{name}}">
			
		</div>
	</div>
	
</body>
<script src="./scripts/angular.js"></script>
<script>
	var app = angular.module('MyApp',[]);
	
	app.directive('igateDirective',function(){
		return {
			replace:true,
			scope:{name:'@'},
			template:'<div>'+
					'<span>Directive : </span>'+
					'<input type="text" data-ng-model="name"/>'+
					'<span data-ng-bind="name"></span>'+
				'</div>'
		}
	});
	
	app.controller('Mycntrl',function($scope){
		$scope.name = "Karthik";
	});
	
	
</script>
</html>
