<html data-ng-app="serviceApp"> 
	<head>
		<title>Employee Service</title>
	</head>
	<body>
		<div data-ng-controller="SampleCntrl">
			<div>
				<p>Selected Item : {{selectedItem}}</p>
				<select data-ng-model="selectedItem">
					<option value="">Select a Name</option>
					<option data-ng-repeat="item in items" value="{{item.id}}">{{item.name}}</option>
				</select>
			</div>
			<hr/>
			<div> <!-- label for value in array -->
				<p>Selected Item : {{selectedInfo}}</p>
				<p>Selected Id : {{selectedInfo.id}}</p>
				<p>Selected Name : {{selectedInfo.name}}</p>
				<select data-ng-init="selectedInfo = options[-1]"  data-ng-model="selectedInfo" data-ng-options="option.name for option in options">
				<option value="">Select a Name</option>
				</select>
			</div>
			<hr/>
			<div> <!-- select as label for value in array -->
				<p>Selected Item : {{selectedOption}}</p>
				<select data-ng-model="selectedOption" data-ng-options="collection.id as collection.name for collection in collections">
				<option value="">Select a Name</option>
				</select>
			</div>
			<hr/>
			<div> <!-- label group by group for value in array -->
				<p>Selected Item : {{selectedEmployee}}</p>
				<select  data-ng-model="selectedEmployee" data-ng-options="employee.name group by employee.technology for employee in employees">
				<option value="">Select a Name</option>
				</select>
			</div>
		</div>
	</body>
	<script src="./scripts/angular.js"></script>
	<script>
		var app = angular.module('serviceApp',[]);
		app.controller('SampleCntrl',function($scope){
			$scope.items = [
				{id:714709,name:'Karthik'},
				{id:714710,name:'Ganesh'},
				{id:714711,name:'Anil'},
				{id:714712,name:'Veena'}
			];
			
			
			$scope.options = [
				{id:714709,name:'Karthik'},
				{id:714710,name:'Ganesh'},
				{id:714711,name:'Anil'},
				{id:714712,name:'Veena'}
			];
			
			$scope.collections = [
				{id:714709,name:'Karthik'},
				{id:714710,name:'Ganesh'},
				{id:714711,name:'Anil'},
				{id:714712,name:'Veena'}
			];
			
			$scope.employees = [
				{id:714709,name:'Karthik',technology:'Dotnet'},
				{id:714710,name:'Ganesh',technology:'Dotnet'},
				{id:714711,name:'Anil',technology:'UX'},
				{id:714712,name:'Veena',technology:'J2EE'}
			];
		});
	</script>
</html>
